body {
    /* background-color: RGBA(129, 161, 193, 0.5);
    color: white; */
    background: linear-gradient(90deg, #3fb696, #8263c2);
    opacity: 0.9;
}

p,
h2,
.blue {
    color: RGBA(220, 75, 25, 0.8);
    font-size: 1em;
    margin: 10px;
}

p {
    margin-top: 20px;
    margin: auto;
    padding: 10px;
    width: 80%;
    background-color: #1d313f;
}

.vert {
    color: green;
}

/* ceci est un comqfs
fqsd
fqs
df
qs
df*/

h1 {
    color: blueviolet;
    text-align: center;
    background-image: url(images/karsten-wurth-mbc6XPuv3Qw-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top right;
    text-shadow: 6px 6px 5px violet;
}

.ma-classe {
    color: silver;
}

#gold {
    color: gold;
}

#logo {
    /* quelques proprieté */
}

.rouge {
    color: red;
}

.gros-texte {
    font-size: large;
    color: cadetblue;
}

.elem1 {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    text-align: center;
}

.elem2 {
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-align: justify;
}

.elem3 {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.bordure {
    border-color: black;
    border-bottom: 3px solid;
    border-top: 3px double gold;
    border-radius: 30% 70% 78% 22% / 19% 49% 51% 81%;
    /* box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5); */
    padding: 80px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

img:hover {
    opacity: 0.7;
}

a {
    text-decoration: none;
}

a:hover {
    color: deeppink;
    text-decoration: underline;
}

a:active {
    text-decoration-color: #1d313f;
}

a:focus {
    background-color: #1d313f;
    color: white;
    outline-color: deeppink;

}

a:visited {
    color: black;
}

a[title="cliker ici"] {
    color: aqua;
}

img:hover+h2 {
    color: deeppink;
}

h3 em {
    color: green
}

.banner {
    background: linear-gradient(to right, #000046, #1CB5E0);
    width: 50%;
    height: 600px;
    padding: 10px;
    margin: auto;
}

article {
    width: 150px;
    padding: 50px;
    margin: 10px;
    background-color: #1d313f;
    color: aliceblue;
}

.one {
    order: 1;
    flex: 3;
}

.two {
    order: 3;

}

.three {
    order: 2;
    flex: 1;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-end;
}

.conteneur {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.box {
    background-color: azure;
    border-radius: 15px;
    border: 2px solid;
    padding: 15px;
    text-align: center;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 6;
}

.box2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

.box3 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.box4 {
    grid-column-start: 4;
    grid-column-end: 6;
}

.box5 {
    grid-column-start: 2;
    grid-column-end: 6;
}

.box6 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
}

.box7 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box8 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.box9 {
    grid-column-start: 3;
    grid-column-end: 6;
}

.diss li {
    display: block;
    width: 200px;
    height: 50px;
    margin: auto;
    background-color: brown;
    /* position: fixed; */
    top: 20px;
}

.diss a {
    position: relative;
    top: 20px;
    left: 20px;
}

td,
th {
    border: 1px solid black;
    padding: 15px;
}


table {
    border-collapse: collapse;
    caption-side: bottom;
    margin: auto;
}

caption {
    margin: 15px;
}

thead,
tfoot {
    font-weight: bold;
}

.formulaire {
    margin: 15px;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

input {
    padding: 10px;
    border: 1px solid black;
}