body {
    /* background-color: RGBA(129, 161, 193, 0.5);
    color: white; */
    background: linear-gradient(90deg, #3fb696, #8263c2);
    opacity: 0.9;
}

p,
h2,
.blue {
    color: RGBA(220, 75, 25, 0.8);
    font-size: 1em;
}

.vert {
    color: green;
}

/* ceci est un comqfs
fqsd
fqs
df
qs
df*/

h1 {
    color: blueviolet;
    text-align: center;
    background-image: url(images/karsten-wurth-mbc6XPuv3Qw-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top right;
    text-shadow: 6px 6px 5px violet;
}

.ma-classe {
    color: silver;
}

#gold {
    color: gold;
}

#logo {
    /* quelques proprieté */
}

.rouge {
    color: red;
}

.gros-texte {
    font-size: large;
    color: cadetblue;
}

.elem1 {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    text-align: center;
}

.elem2 {
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-align: justify;
}

.elem3 {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.bordure {
    border-color: black;
    border-bottom: 3px solid;
    border-top: 3px double gold;
    border-radius: 30% 70% 78% 22% / 19% 49% 51% 81%;
    /* box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5); */
    padding: 80px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}